<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>Welcome to My Personal Website!</h1>
      <nav>
        <a href="/" class="{{ 'active' if '/' ==  page.url }}">Home</a>
        <a href="/about" class="{{ 'active' if 'about' in  page.url }}">About Me</a>
        <a href="/word-curations" class="{{ 'active' if 'curations' in  page.url }}">Word&nbsp;Curations</a>
        <a href="/pens"class="{{ 'active' if 'pens' in  page.url }}">Pens</a>
      </nav>
      {{ content | safe }}
      <footer>
        <p>&copy; 2025 Claudio Del Valle</p>
      </footer>
    </main>
  </body>
</html>

<style>
  h1 {
    color: #ff4500;
    text-shadow: 2px 2px #000000;
    text-align: center;
  }
  nav {
    text-align: center;
    background-color: #00ffff;
    padding: 10px;
    margin: 20px 0;
    border: 3px dashed #ff00ff;
  }
  nav a {
    color: #ff00ff;
    text-decoration: none;
    margin: 0 15px;
  }
  nav a.active {
    text-decoration: underline;
  }

  footer {
    text-align: center;
    background-color: #00ffff;
    padding: 5px;
    margin-top: 20px;
    border-top: 3px dashed #ff00ff;
  }
  footer a {
    color: #ff00ff;
    text-decoration: none;
  }
</style>
