---
layout: base.njk
eleventyComputed:
  title: "Word Curations | {{ date | formatDate }}"
---

{% include 'curation.njk' %}

{% set previousCuration = collections.curation | getPreviousCuration(date) %}
{% set nextCuration = collections.curation | getNextCuration(date) %}

<div class="navigation">
  {% if previousCuration %}
    <a href="{{ previousCuration.url }}">Previous Curation</a>
  {% endif %}
  {% if nextCuration %}
    <a href="{{ nextCuration.url }}">Next Curation</a>
  {% endif %}
</div>

<ul class="curations-list">
  {% for curation in collections.curation %}
  <li>
    <a href="{{ curation.url }}">{{ curation.date | formatDate }}</a>
  </li>
  {% endfor %}
</ul>


<style>
  .navigation {
    text-align: center;
  }
</style>