<footer>
    <div>
        <!-- TODO: Set year with JS -->
        <p>&copy; {{ page.date.getFullYear()}} Claudio Del Valle</p>
        <!-- <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul> -->
    </div>
</footer>