---
layout: base.njk
eleventyComputed:
  title: "{{ title }}"
---

<article>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <p>
    {{ description }}
  </p>
  <figure>
    <img src="{{ image }}" alt="{{ title }}" loading="lazy" decoding="async" />
    <figcaption class="center-text">{{ caption }}</figcaption>
  </figure>

  {{ content | safe }}
</article>

<style>
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  article {
    padding: 20px;
  }

  h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }

  p {
    margin: 10px 0;
  }

  figure {
    text-align: center;
    margin: 20px 0;
  }

  figure img {
    margin: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }

  .center-text {
    text-align: center;
  }
</style>
