---
layout: base.njk
---

<section>
  <div class="container">
    <article>
        <h1 class="article-title">Post Title</h1>
        {{ content | safe }}
    </article>
  </div>
</section>
