/* //////////////////////
    Homepage
    /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

/* Might use later in home page */
.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
