:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: #9da0bf; /* Space Cadet 800 (lightest blue) */
  --clr-primary-300: #6d71a0; /* Space Cadet 700 */
  --clr-primary-400: #2b2d42; /* Space Cadet (default) */
  --clr-primary-500: #191b27; /* Space Cadet 300 (darkest) */

  --clr-secondary-400: #ef233c; /* Red (Pantone) (default) */

  --clr-neutral-100: #edf2f4; /* Anti-flash White (default) */
  --clr-neutral-300: #8d99ae; /* Cool Gray (default) */
  --clr-neutral-400: #4f5b6f; /* Cool Gray 300 */
  --clr-neutral-500: #343c4a; /* Cool Gray 200 */
  --clr-neutral-900: #08090d; /* Space Cadet 100 (darkest) */
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}
