---
title: About
layout: base.njk
---

<div class="content">
  <img
    src="/assets/me.jfif"
    alt="Me"
  />
  <p>
    Web developer from Monterrey, Mexico.
  </p>
  <br />
  <p>
    Lover of words and pens.
  </p>
  <br />
  <p>
   Rocket League is my favorite game.
  </p>
</div>

<style>
  .content img {
    max-width: 50%;
    float: left;
    margin-right: 20px;
  }
  .content {
    display: flow-root;
  }
</style>
