---
title: Home
layout: base.njk
---

<div class="content">
  <img
    src="https://media1.tenor.com/m/qRC04kNvXAIAAAAC/smiley-clouds.gif"
    alt="Smiley"
  />
  <p>
    Hello! Welcome to my awesome personal homepage. This site is all about me
    and my interests.
  </p>
  <br />
  <p>
    Check out my <a href="/word-curations">Word Curations</a> where I share
    interesting words and their meanings!
  </p>
  <br />
  <p>
    Explore my <a href="/pens">Pens page</a>
    to learn more about my favorite writing instruments!
  </p>
</div>

<style>
  .content img {
    max-width: 50%;
    float: left;
    margin-right: 20px;
  }
  .content {
    display: flow-root;
  }
</style>
