---
title: Pens
layout: base.njk
---

<div class="content">
  <img src="/assets/pens.jpeg" alt="Pens" />
  <p>
    Whether it’s a classic Parker Jotter, a special edition Montblanc, or even a
    humble but reliable Pilot G2, I always feel better with a pen and paper
    nearby.
  </p>
  <br />
  <p>
    It started around the same time I began writing down my word curations. But
    it wasn't until my college roommate Austin gifted me a Pilot Metropolitan
    that I officially began collecting.
  </p>
  <br />
  <p>
    Over the years, my collection has grown to include a variety of pens. From
    the smooth feel of a fountain pen to the dependable click of a ballpoint,
    every pen I own represents a chapter in my journey as a writer and
    collector. This page is a tribute to these cherished instruments and the joy
    they bring to my everyday life.
  </p>

  <section class="pen-list">
    {% for post in collections.pen %}
    <article class="pen-item">
      <img src="{{ post.data.image }}" alt="{{ post.data.title }} thumbnail" />
      <div class="pen-info">
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.data.description }}</p>
      </div>
    </article>
    {% endfor %}
  </section>
</div>

<style>
  .content img {
    max-width: 50%;
    float: left;
    margin-right: 20px;
  }
  .content {
    display: flow-root;
  }
  .pen-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .pen-info {
    flex: 1;
  }
  .pen-item img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #d400ff;
    transition: transform 0.3s ease;
    background: white;
  }
  .pen-item img:hover {
    transform: scale(2);
  }
  .pen-item h2 {
    margin-top: 0;
  }
  .pen-item p {
    margin-top: 5px;
  }
  .pen-item a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
  }
</style>
