---
title: Word Curations
layout: base.njk
---

{% set latestCuration = collections.curation[collections.curation.length - 1] %}
{% set words = latestCuration.data.words %}
{% set date = latestCuration.data.date %}
{% include 'curation.njk' %}
