---
pagination:
  data: words
  size: 1
  alias: log
permalink: "words/{{ log.date | slugify }}/"
layout: 'base.njk'
---

<h2>{{ log.date | getDate | formatDate }}</h2>

<ul>
  {% for entry in log.words %}
  <li>{{ entry.word }} - {{ entry.definition }}</li>
  {% endfor %}
</ul>
