---
title: Word Curations
layout: base.njk
---

{% set latestCuration = collections.curation[0] %}

<article class="container">
  <header class="curation-title center-text">
    {{ latestCuration.data.title }}
  </header>
  {% for entry in latestCuration.data.words %}
  <section class="word-entry">
    <div class="word">{{ entry.word }}</div>
    <div class="definition">{{ entry.definition }}</div>
    <div class="source">Source: {{ entry.source }}</div>
    <div class="explanation">
      {{ entry.explanation }}
    </div>
    <div class="usage-example">Usage Example: {{ entry.usage_example }}</div>
  </section>
  {% endfor %}
  <div class="center-text">
    {{ latestCuration.data.date | formatDate }}
  </div>
</article>

<!-- 

TODO: Add controls to view other curations
TODO: Build "list/view all" page with a timeline or other cool visual

Thoughts: 
  1. Add tags to create collections (e.g. "Cool Translations").
  2. Think about how to create word pages in order to see all the documented uses.

-->
